<div id="warnings" class="container">
  <% if notice %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Aviso</h3>
      </div>
      <div class="panel-body"><%= notice %></div>
    </div>
  <% end %>
  <% if alert %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Aviso</h3>
      </div>
      <div class="panel-body"><%= alert %></div>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Erro</h3>
      </div>
      <div class="panel-body"><%= flash[:error] %></div>
    </div>
  <% end %>
</div>
